<h1>Kitten!</h1>

<table>
<tr>
  <td>Name:</td>
  <td><%= @kitten.name %></td>
</tr>
<tr>
  <td>Age:</td>
  <td><%= @kitten.age%></td>
</tr>
<tr>
  <td>Cuteness:</td>
  <td><%= @kitten.cuteness%></td>
</tr>
<tr>
  <td>Softness</td>
  <td><%= @kitten.softness%></td>
</tr>
</table>

</br>
<%= link_to  "Home", root_path %>
<%= link_to  "Edit", edit_kitten_path %>
<%= link_to  "Delete", @kitten, method: :delete, confirm: "Are you sure?" %>
